.LandingPage {
  text-align: center;
}

body {
  background-color: #E4E7EB;
}

.App {
  margin-top: 0px;
  background-color: #E4E7EB;
  padding-top: 70px;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.buttons {
  margin-top: 10px;
}

.freelance-box {
  display: flex;
  text-align: center;
  padding-left: 5%;

}

.freelance-content {
  max-width: 500px;
}

.freelance-outerbox {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 60px;
  border-radius: 100px;
}

.request-outerbox {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
  border-radius: 100px;
}

.request-innerbox {
  margin-left: 40px;
}

.request-box {
  display: flex;
  text-align: center;
  padding-left: 20%;
  margin-top: 60px;
}

.request-content {
  width: 300px;
}

.freelancer-image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.request-image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
.request-image {
  width: 600px;
}

.find-button,
.join-button {
  display: inline-block;
  padding: 8px 20px;
  background-color: #2BB0ED;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-top: 15px;
}

.find-button:hover,
.join-button:hover {
  background-color: #218ACB;
}

a {
  text-decoration: none;
}

a:hover {
  color: #DA127D;
}
