.hidden {
  display: none;
}

.TitleHeader {
  font-weight: 600;
  text-decoration: none;
  font-size: 170%;
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.nav-item li {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  align-items: center;
}

.nav-item {
  list-style-type: none;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

.top {
  display: flex;
  align-items: center;
}

.nav-wrap {
  border-bottom: solid grey;
  background-color: var(--primary);
  margin: 0;
  padding: 1rem 0;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  align-items: center;
  width: 100%;
}

/* .navButton {
  margin-top: 30px;
} */


.skillSWAP {
  font-size: 40px;
  height: 100%;
  display: flex;
  align-items: center;
}

.skillSWAP a {
  /* color: #40C3F7; */
  color: var(--text)
}

.skillSWAP a:hover {
  cursor: pointer;
}

.profile-dropdown {
  margin-top: 0.5rem;
  position: absolute;
  top: 70px;
  right: 40px;
}

.profile-dropdown button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  width: 100px;
}

li {
  list-style-type: none;
}

.profile {
  padding-right: 40px;
}

.navButton {
  padding-right: 40px;
}

a.active-link {
  transform: translateY(-3px);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 20px;
  gap: 50px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  /* color: #2BB0ED; */
  font-weight: bold;
  transition: transform 0.2s;
  justify-content: space-between;
  width: 150px;
  font-size: 20px;
}

.nav-links a:hover {
  transform: translateY(-3px);
}

.nav-links a.active-link {
  /* color: #2BB0ED; */
  color: var(--text);
}
