.hidden {
  display: none;
}

.TitleHeader {
  font-weight: 600;
  text-decoration: none;
  font-size: 170%;
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

li {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  align-items: center;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

.top {
  display: flex;
  align-items: center;
}

.nav-wrap {
  border-bottom: solid grey;
  background-color: #323F4B;
  margin: 0;
  padding: 1rem 0;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  align-items: center;
}

.navButton {
  margin-top: 30px;
}


.skillSWAP {
  font-size: 40px;
  height: 100%;
  display: flex;
  align-items: center;
}

.skillSWAP a {
  color: #40C3F7;
}

.skillSWAP a:hover {
  cursor: pointer;
}

.profile-dropdown {
  margin-top: 0.5rem;
  position: absolute;
  top: 70px;
  right: 40px;
}



.profile-dropdown button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  width: 100px;
}


a.active-link {
  transform: translateY(-3px);
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #2BB0ED;
  font-weight: bold;
  transition: transform 0.2s;
  /* justify-content: space-between; /
  / width: 100px; */
  font-size: 20px;
}

.nav-links a:hover {
  transform: translateY(-3px);
}

.nav-links a.active-link {
  color: #2BB0ED;
}
