.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* flex-direction: column; */
}

.explore-welcome {
    background-color: var(--secondary);
    margin-bottom: 50px;
}

.explore-welcome h1 {
    color: var(--text);
    font-size: 30px;
    text-align: center;
}

.skill-list {
    background-color: var(--background);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    padding: 20px;
}

.skill {
    display: flex;
    border: 1px solid #9aa5b1;
    border-radius: 8px;
    padding: 20px;
    background-color: var(--accent);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 9);
    transition: transform 0.2s ease-in-out;
}

.skill .image {
    flex: none;
}

.skill .image img {
    width: 370px;
    height: 350px;
    object-fit: cover;
}

.skill:hover {
    transform: translateY(-5px);
    box-shadow: 0, 6px, 12px, rgba(0, 0, 0, 0.1);
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.details {
    margin-top: 15px;
    text-align: center;
}

.skill-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.skill-description {
    font-size: 14px;
    color: #555;
}

.skill-price {
    font-size: 16px;
    color: #DA127d;
}

li {
    margin: 5px 0;
}

.open-create-server {
    align-items: center;
    background-color: #87bf97;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
